<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.me.ToggleLowPower</string>
        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>/usr/local/bin/toggle_low_power.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>StartInterval</key>
        <integer>300</integer>
        <!-- <key>StandardOutPath</key>
        <string>/Users/your_user/Desktop/output.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/your_user/Desktop/error.log</string> -->
    </dict>
</plist>